{% extends "basement.html" %}

{% block content %}
<div class="about">
	<div class="about_info">

	<h2 style="margin-left: 50px;">Для тех, кто играет</h1>
	<p>«Хиты PlayStation» – непревзойденная подборка из более 20 обязательных для прохождения игр для PS4, которая доступна по привлекательной цене.</p>
		
	</div>
<!-- <p>
	{{ my_text }}, {{ my_numb }}, {{ my_list }}
</p>

<ul>
{% for my_item in phone %}
	<li>{{ my_item|safe }}</li>
{% endfor %}
{% for my_item in all_items %}
	<ul>{{ my_item|safe }}</ul>
{% endfor %}
{{ obj.img|safe }}
</ul> -->


</div>

{% endblock %}