<!-- навбар -->
{% load cart_template_tags %}
<div class="navbar_custom">
	<div class="row">
		<div class="col-9">
			<ul>
				<li><a href="{% url 'home' %}">Главная</a></li>
				<li><a href="{% url 'contact' %}">Контакты</a></li>
				<li><a href="{% url 'about' %}">Информация</a></li>
				<li><a href="{% url 'products' %}">Продукты</a></li>
		</div>
			{% if request.user.is_authenticated %}
		<div class="col-1">


		          <span> {{ request.user|cart_count }} </span>
		          <a href="{% url 'order-summary' %}" style="color: white; text-decoration: none;">
		          	<i class="fa fa-shopping-cart" aria-hidden="true"></i>
		          Корзина</a> 


		</div>	
		<div class="col-1">

		        <a href="{% url 'account_logout' %}" style="color: white; text-decoration: none;">
		          Выйти из системы 
		        </a>

		</div>	
		    {% else %}
		<div class="col-1">

		        <a href="{% url 'account_login' %}" style="color: white; text-decoration: none;">
		           Войти 
		        </a>

		</div>
		<div class="col-1">

		        <a href="{% url 'account_signup' %}" style="color: white; text-decoration: none;">
		           Регистрация 
		        </a>

		</div>		
		    {% endif %}	    
		</ul>
	</div>
</div>