{% extends 'basement.html' %}

{% block content %}

<!-- <div class="create_product">
	<a href="{% url 'create' %}">Create new Product</a>
</div> -->
	<div class="container">
		<div class="row">
			<div class="col-md-3 order-md-2 mb-4">
				<p>In progress</p>
			</div>
			<div class="col-md-9 order-md-1">
			{% for item in object_list %}
				<div class="catalog_item">
				<div class="product_item mb-3">
					
					<div class="image_field">{{ item.img | safe }}</div>
					<div class="product_info"> 
						<a href="{{ item.get_absolute_url }}">{{ item.summary | safe }} </a>
						<div class="description_field">{{ item.description | safe }}</div>
						<div class="product_price"><p>{{ item.price | safe }}<i class="fa fa-rub" aria-hidden="true"></i></p></div>
					</div>
					
					
					
				</div>
				</div>
			{% endfor %}
			</div>
		
	</div>
	
</div>



{% endblock %}
