{% extends 'basement.html' %}

{% block content %}
{% load static %}
<!-- <div class="create_product">
	<a href="{% url 'create' %}">Create new Product</a>
</div> -->
<div class="products_content">
	<div class="products_left-block">
		<p style="padding-left: 10px;">In progress</p>
	</div>
	{% for item in obj %}
	<div class="products_list">
		
		
		<div class="catalog_item">
				
			<div class="product_item">
				
				<div class="image_field">{{ item.img | safe}}</div>
				<div class="product_info"> 
					<p>{{ item.sum | safe }}</p> 
					<div class="description_field">{{ item.description | safe }}</div>
				</div>
				
				<div class="product_price"><p>{{ item.price | safe }}<i class="fa fa-rub" aria-hidden="true"></i></p></div>
				
				<div class="product_buttons"></div>
			</div>

		</div>

		{% endfor %}	
	</div>
		
</div>



{% endblock %}
<!-- 		<div class="catalog_item">
			<div class="product_item">
				<div class="image_field">{{ img1 | safe}}</div>
				<div class="product_info"> 
					<p>{{ sum1 | safe }}</p> 
					<div class="description_field">{{ description1 | safe }}</div>
				</div>
				
				<div class="product_price">
					<p>{{ price1 | safe }}<i class="fa fa-rub" aria-hidden="true"></i></p>
					
				</div>
				<div class="product_buttons"></div>
			</div>
			
		</div>
		<div class="catalog_item">
			<div class="product_item">
				<div class="image_field"><a href="{{ get_absolute_url }}">{{ img2 | safe}}</a></div>
				<div class="product_info"> 
					<p>{{ sum2 | safe }}</p> 
					<div class="description_field">{{ description2 | safe }}</div>
				</div>
				
				<div class="product_price">
					<p>{{ price2 | safe }}<i class="fa fa-rub" aria-hidden="true"></i></p>
					
				</div>
				<div class="product_buttons"></div>
			</div> -->