body {
	background-color: #F6F6F6;
	margin: 0;
	height: 100%;
}




.fa-video-camera, .fa-share-square, .fa-users {
	text-align: center;
	font-size: 90px;
	padding-bottom: 50px;

}

h1 {
	color: green;
}

ul li {
	list-style: none;
	padding: 20px 0 5px 0;
	text-align: center;
}

form p {

	font-size: 20px;
	color: #2F4F4F;
}

textarea {
		
		display: flex;
}


.main_content {
	display: block;
	height: 100%;
	min-height: 1000px;
}

.navbar_custom  ul li {
	text-align: left;
	padding: 20px 70px 0 0;
	
	font-size: 30px;
}

.navbar_custom ul {
	display: flex;
	float: left;
}



.navbar_custom {
	text-align: center;
	height: 100px;
	width: 100%;
	background-color: #212529;
	
}

.navbar_custom  a {
	
}

.navbar_custom ul li a {
	text-decoration: none;
	color: #EACE2D;
}

.nav_login {
	padding-top: 20px;
	margin-right: 50px;
}

.col-1 {
	padding-top: 20px;
	color: white;
	font-size: 15px;
}

.footer ul li {
	
	padding: 20px 70px 0 0;
	
	font-size: 30px;
}

.footer p {

	text-align: center;
	
}

.footer {

	margin-top: 50px;

	height: 100px;
	width: 100%;
	
}

.footer a {
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-size: 20px;
	padding: 20px 35px 0 35px;
}

.wrapper {
	min-height: 100%;
	position: relative;
}


.content {
/*	padding-left: 50px;
	padding-right: 50px;*/
	margin-right: auto;
	margin-left: auto;
	min-height: 75%;
}

.create_product {
	border: solid 2px;
	border-radius: 10px;
	margin-top: 50px;
	width: 160px;
	height: 50px;
	background: #000000 ;
}

.create_product a {
	display: block;
	text-align: center;
	padding-top: 13px;
	text-decoration: none;
	color: #FF0000;
}

.about {

	display: block;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;

	background-image: url('//psmedia.playstation.com/is/image/psmedia/ps4-pro-section-background-desktop-tablet-01-ps4-en-13jan20_1578928385221?$_Page_Section_Landscape_Large_v2$');
}

.about p, h2 {
	color: white;
}

.about_info {
	
	padding: 50px 0 0 70px;
}

.ps4_content {
	margin-top: 300px;
	margin-bottom: 300px;
	text-align: center;
	padding-left: 70px;
	padding-right: 70px;
	
}


.about2 {
	margin-top: 100px;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('https://psmedia.playstation.com/is/image/psmedia/ps4-overview-ps-plus-section-background-desktop-01-ps4-en-03sep18_1536150838322?$_Page_Section_Landscape_Large_v2$')
}

.about_info2 {
	width: 400px;
	padding: 50px 0 0 70px;
	color: white;

}

.trailer {
	padding: 0;
	border-radius: 8px;
	height: 364px;
	width: 640px;
	border: solid 2px black;
}

.container h1 {
	color: black;
	margin-top: 50px;
	text-align: center;
}

.contacts {
	margin-top: 100px;
}

.contacts_social {
	margin-top: 50px;

}

.contacts_phone {

	margin-top: 50px;
}

.contacts_phone ul li {
	list-style: square;
	text-align: left;
}

.icons i {
	color: black;
	font-size: 35px;
	padding-left: 40px;
}

.card {
	background-color: #F6F6F6;
	border: 0;
}

.btn-primary {
	background-color: #34aaf2;
	border-color: #34aaf2;
}

