.news {
  position: absolute;
  top: 60px;
  right: 15px;
}
.news1 {
  position: fixed;
  right: 30px;
}
.block1 {
  
  margin-right: 10%;
  background: black;
  font: 18pt calibri;
  color: white;
  padding: 5% 5%;
  border: solid 5px black;
}
.block2 {
  position: absolute;
  right: 15px;
  width: 350px;
  height: 350px;
  background: black;
}
.block3 {

  background: black;
  padding: 5px 10px;
  border: solid 5px black;
}
