<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
  document.createElement('figure');
  document.createElement('figcaption');
</script>
<style>
figure {
   /* Цвет фона */
  display: block; /* Блочный элемент */
  width: 300px; /* Ширина */
  height: 190px; /* Высота */
  float: left; /* Блоки выстраиваются по горизонтали */
  margin: 0 20px 10px 0; /* Отступы */
  text-align: center; /* Выравнивание по центру */
 }

 figure p {
  margin-bottom: 10px; /* Отступ снизу */
 }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="btn btn-warning btn-lg" href="{% url 'index' %}">HOME</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-warning" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-warning" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-warning" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Оружие
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a title="Револьверы и пистолеты" href="{% url 'weapons' %}" data-toggle="dropdown" class="dropdown-toggle-disabled" >Револьверы и пистолеты</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <ul role="menu" class="dropdown-menu">

        </ul>
      </div>
    </div>
</ul>

</head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/letter.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}"/>
<!-- здесь мы выпавниваем картинку по центру от левой ссылки -->
<body>
  <style type="text/css">
    .cent{
      margin: 30px 10px 50px 300px
    }
  </style>
  <div style="margin-top:50px">
    {% load static %}
    <a href="{% url 'index' %}" style="color: yellow; margin-left: 40px; margin-top:30px "><span class ='letter'>Home</span></a>
    <img src="{% static "images/hunt3.jpg" %}" alt="My image" width="1000" height="400" class ="cent" >
  </div>
  <style>
    .text {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color: yellow;
    }
  </style>
  <div class='text'>
    <p> Hunt: Showdown is an upcoming video game in development and to be published by Crytek.
     The game was originally in development at Crytek USA, who wished to create a spiritual successor to Darksiders—a video game series developed by their predecessor, Vigil Games—under the title Hunt: Horrors of the Gilded Age.
     After the initial announcement in June 2014, Crytek USA was shut down due to financial issues, and the development was brought to the Crytek headquarters.
     The game, under the new title Hunt: Showdown, was re-announced in May 2017. Hunt: Showdown was launched on Steam in early access on February 22, 2018 and for Xbox Game Preview on May 29, 2019.
     The full release of the game is set to launch in August 20, 2019 for Microsoft Windows and Xbox One, with PlayStation 4 release later in Fall 2019</p>
     <a href="https://en.wikipedia.org/wiki/Hunt:_Showdown"> Wikip </a>
  </div>
  <article>
     <figure>
      <p><img src="{% static "images/hspres.jpg" %}" alt="My image"></p>
      <figcaption>Престиж</figcaption>
     </figure>
  </article>


</body>
</html>
